.wholeFrame {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomePage {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  /* min-height: 100vh; */
}
.leftSection{
  width: 70%;
  box-sizing: border-box;
  padding: 80px;
}

.rightSection{
  width: 30%;
  box-sizing: border-box;
  padding: 80px;
  display: block;
  align-items: center;
  justify-content: center;
}

@media screen {
  
}

