.wholePage {
  background: url('../assets/background.png') repeat;
  min-height: 100vh;
}

body.dark .wholePage {
  background: #18181B;
}

.TopFrame {
  width: 70%;
  margin: 0 auto;
  padding: 0 0 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomePage {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.leftSection{
  width: 65%;
  box-sizing: border-box;
  padding: 80px;
}

.social-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #0A66C2;
  font-weight: 500;
}

.icon {
  width: 20px;
  height: 20px;
}

.rightSection{
  width: 35%;
  box-sizing: border-box;
  padding: 80px 80px 80px 0px;
  display: block;
  align-items: center;
  justify-content: center;
}

.BottomFrame {
  width: 70%;
  margin: 0 auto;
  padding: 0 0 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-card {
  display: flex;
  gap: 20px;
  padding: 24px 0;
  position: relative;
}

/* logo and line */
.logo-part{
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  width: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.logo-border {
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo {
  width: 48px;
  height: 48px;
  background: #f0f0f0;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.line {
  position: relative;
  width: 0;
  height: 150px;
}

.line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: #ccc;
}

.logo img{
  height: 50px;
  width: 50px;
}

.workExperience {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px 80px 30px 80px;
  box-sizing: border-box;
}

.work-content {
  max-width: 420px;
  /* 或 380px、400px，按需调整 */
}

.work-header {
  width: 70%;
  margin: 0 auto;
  padding-left: 150px;
}
