/* body {
  overflow: hidden;
} */

.iso-grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 0px;
  justify-content: center;
  align-content: center;
  justify-self: end;
  margin-left: auto;
}

.iso-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle at 65% 15%, white 1px, #dadadae0 3%, #e4e4e4de 60%, #dadadae0 100%);
  box-shadow: inset -25px -15px 40px rgba(0, 0, 0, .3), -15px 15px 30px #cecece, 15px -15px 30px #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}