@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body.light {
  --bg: #ffffff;
  --text: #18181B;
  --icon: #18181B;
}

body.dark {
  --bg: #18181B;
  --text: #ffffff;
  --icon: #ffffff;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'DM Sans', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

.switcher {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 4px 12px rgba(255, 255, 255, 0.4), 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.switcher__option {
  position: relative;
  border-radius: 999px;
}

.switcher__input {
  appearance: none;
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.switcher__icon {
  width: 20px;
  height: 20px;
  padding: 0rem;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  color: var(--icon);
  border: 2px solid transparent;
  /* 新增：默认透明边框 */
}

.switcher__input:checked+.switcher__icon {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  /* 选中时变色 */
}